<h1>Artists</h1>
<% if flash[:notice] %>
  <%= content_tag :div, flash[:notice], class: flash-notice %>
<% end %>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>
